process {

    executor = 'local'

    withName: combine_references {
        cpus = 20
        memory = '8 GB'
    }

    withName: alignment {
        cpus = 20
        memory = '8 GB'
    }

    withName: sort_and_index {
        cpus = 20
        memory = '8 GB'
    }
}

params {

    outdir = "results"
}